:root {
    --main-color: #2196f3;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/* Start Landing */
.landing {
    width: 100%;
    min-height: 100vh;
    background-image: url(../imgs/Landing-01.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.overlay {
   background-color: rgb(0 0 0 / 20%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}
.container {
    padding-left: 150px;
    padding-right: 150px;
    margin: auto;
}
@media (max-width: 768px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}
.landing .container header {
    display: flex;
    padding: 0px 20px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    position: relative;
    border-bottom: 4px solid white;
    z-index: 3;
}
.landing .container header .logo img {
    width: 60px;
}
.landing .container header nav {
    position: relative;
}
.landing .container header nav ul:first-of-type {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}
@media (max-width: 992px) {
    .landing .container header nav ul:first-of-type {
        display: none;
    }
}
.landing .container header nav ul:first-of-type li {
    height: 68px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    transition: 0.3s;
    cursor: pointer;
}
.landing .container header nav ul:first-of-type li:hover {
    background-color: #1c7fcf;
}
.landing .container header nav ul:first-of-type .gellary-li {
    display: none;
}
.landing .container header nav ul:first-of-type .team-li {
    display: none;
}
    @media (min-width: 1115px) {
        .landing .container header nav ul:first-of-type .gellary-li,
        .landing .container header nav ul:first-of-type .team-li {
        display: flex;
    }
}
.landing .container header nav ul:first-of-type li a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.landing .intro-text {
    position: absolute;
    color: white;
    margin: auto;
    padding: 10px;
    width: 336px;
    top: 52%;
    left: 198px;
    z-index: 2;
}
@media (max-width: 576px) {
    .landing .intro-text {
        top: 60%;
        left: 52%;
        transform: translate(-50%, -50%);
    }
}
@media (min-width: 576px) {
    .landing .intro-text {
        top: 55%;
        left: 122px;
    }
}
@media (min-width: 1115px) {
    .landing .intro-text {
        top: 75%;
        left: 25%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
}
.landing .intro-text:hover::before {
    background-color: var(--main-color);
}
.landing .inro-slide {
    position: absolute;
    background-color: #2196f34f;
    top: 376px;
    left: -198px;
    width: 1400px;
    height: 480px;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    transform: skewY(29deg);
    transition: 1s;
}
.landing .inro-slide:hover{
    background-color: var(--main-color);
}
.landing .intro-text h2 {
    font-size: 25px;
    margin: -10px 0 25px;
}
.landing .intro-text p {
    line-height: 1.6;
    font-size: 18px;
    margin: 0;
}
/* End Landing */
/* Start Other Links */
header nav ul li:last-of-type {
    position: relative;
}
.other-links {
    position: absolute;
    top: 85px;
    right: 150px;
    width: 140px;
    height: 140px;
    background-color: var(--main-color);
    padding: 0;
    margin: 0;
    border-bottom: 4px solid white;
    display: none;
}
@media (max-width: 1115px) {
    .other-links {
    height: 190px;
}
}
.other-links .gellary-oLi,
.other-links .team-oLi {
    display: none;
}
@media (max-width: 1115px) {
    .other-links .gellary-oLi,
    .other-links .team-oLi {
    display: list-item;
}
}
.other-links.open {
    display: block;
}
.other-links::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    top: -11px;
    right: 10px;
}
.other-links li {
    padding: 10px 20px;
}
.other-links li:hover {
    background-color: #1c7fcf;
}
.other-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
/* End Other Links */
/* Start Toggel Button */
.toggel-button {
    position: absolute;
    top: 58%;
    right: 16px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
}
@media (max-width: 992px) {
    .toggel-button {
        display: block;
    }
}
.toggel-button span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin-bottom: 10px;
}
/* End Toggel Button */
/* Start Toggel Menu */
.toggel-menu {
    display: none;
}
.toggel-menu.open {
    position: absolute;
    background-color: var(--main-color);
    right: -20px;
    top: 51px;
    margin: 0;
    padding: 0;
    width: 150px;
    border-bottom: 4px solid white;
    display: block;
    z-index: 1000;
}
@media (max-width: 991px) {
    .toggel-menu.open {
        right: 15px;
    }
}
.toggel-menu::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    top: -12px;
    right: 10px;
}
.toggel-menu li {
    padding: 10px 20px;
}
.toggel-menu li:hover {
    background-color: #1c7fcf;
}
.toggel-menu li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
/* End Toggel Menu */
/* Start About */
#about {
    z-index: 2;
    position: relative;
    background-color: #eee;
    padding-bottom: 60px;
}
#about .about-title {
    margin: 0;
    padding: 60px 0;
    text-align: center;
    color: var(--main-color);
    font-size: 30px;
}
#about .about-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
@media (max-width: 575px) {
    #about .about-box {
        display: block;
    }
    #about .about-box .about-text {
        text-align: center;
    }
}
@media (max-width: 991px) {
    #about .about-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        text-align: center;
    }
}
#about .about-box .about-text h3 {
    color: var(--main-color);
    margin: 0;
}
#about .about-box .about-text p {
    line-height: 1.5;
    color: #777;
    margin-bottom: 30px;
}
#about .about-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .about-box .about-img img {
    width: 300px;
}
@media (max-width: 575px) {
    #about .about-box .about-img {
        text-align: center;
    }
    #about .about-box .about-text p {
        margin: 10px auto 30px;
        width: 350px;
    }
}
@media (max-width: 991px) {
    #about .about-box .about-img {
        margin: 0 auto;
    }
}
/* End About */
/* Start Services */
#services {
    background-color: white;
    position: relative;
    overflow: hidden;
}
#services h2 {
    width: 100%;
    display: block;
    margin: 0;
    padding: 60px 0;
    text-align: center;
    color: var(--main-color);
    background-color: white;
    font-size: 30px;
    position: relative;
    z-index: 2;
}
#services .contents {
    background-image: url(../imgs/Mapping-01.png);
    background-size: contain;
    height: 400px;
    position: relative;
}
@media (max-width: 1115px) {
    #services .contents {
        display: none;
    }
}
#services .text-box {
    width: 400px;
    position: absolute;
    top: 30%;
    left: 121px;
    color: white;
    z-index: 1;
}
@media (max-width: 575px) {
    #services .text-box {
        text-align: center;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #2196f373;
    }
}
#services .text-box::before {
    content: "";
    position: absolute;
    top: -256px;
    left: -121px;
    background-color: var(--main-color);
    border-top: 5px solid;
    border-bottom: 5px solid;
    width: 1000px;
    height: 380px;
    transform: skewY(329deg);
    z-index: -1;
}
#services .phone-services-container {
    display: none;
}
@media (max-width: 1115px) {
    #services .phone-services-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
    }  
}
#services .phone-services-container div {
    background-size: cover;
    height: 300px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
@media (max-width: 1115px) {
    #services .phone-services-container div {
        width: calc(100% / 2 - 5px);
    }
}
@media (max-width: 767px) {
    #services .phone-services-container div {
        width: 100%;
    }
}
#services .phone-services-container div h3 {
    width: fit-content;
    background-color: rgb(0 0 0 / 40%);
    margin: 0 auto;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#services .phone-services-container div p {
    line-height: 1.5;
    background-color: rgb(0 0 0 / 40%);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    width: fit-content;
    max-width: 380px;
}
#services .phone-services-container .mapping {
    background-image: url(../imgs/Mapping-01.png);
}
#services .phone-services-container .spatial-analysis {
    background-image: url(../imgs/Spatial-Analysis.png);
}
#services .phone-services-container .imagery-analysis {
    background-image: url(../imgs/Imagery-Analysis-02.png);
}
#services .phone-services-container .geostatistical-analysis {
    background-image: url(../imgs/Geostatistical-Analysis-01.jpg);
}
#services .phone-services-container .network-analysis {
    background-image: url(../imgs/Network-Analysis-01.jpg);
}
#services .text-box h3 {
    margin-left: -30px;
}
#services .text-box p {
    margin-left: -40px;
    line-height: 1.5;
    width: 350px;
}
#services .ul-services {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 10px;
    padding: 10px 0;
    background-color: #2196f345;
    text-align: right;
    margin: 0 auto;

}
@media (max-width: 575px) {
    #services .ul-services {
        display: none;
    }
}
#services .ul-services li {
    display: inline-block;
    margin-right: 10px;
    background-color: var(--main-color);
    color: white;
    padding: 5px 15px;
    height: 20px;
    width: fit-content;
    cursor: pointer;
    transition: 0.3s;
}
#services .ul-services li:hover {
    background-color: #1c7fcf;
}
#services .ul-services li:last-of-type {
    margin-right: 90px;
}
/* End Services */
/* Start gellary */
#gellary {
    position: relative;
    z-index: 2;
    background-color: #eee;
    padding-bottom: 60px;
}
#gellary .gellary-title {
    margin: 0;
    padding: 60px 0;
    text-align: center;
    color: var(--main-color);
    font-size: 30px;
}
#gellary .gellary-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    text-align: center;
}
#gellary .gellary-box .img-box {
    width: calc(100% / 6);
    transition: 0.3s;
}
@media (max-width: 1115px) {
    #gellary .gellary-box .img-box {
        width: calc(100% / 5);
    }
}
@media (max-width: 991px) {
    #gellary .gellary-box .img-box {
        width: calc(100% / 4);
    }
}
@media (max-width: 800px) {
    #gellary .gellary-box .img-box {
        width: calc(100% / 3);
    }
}
@media (max-width: 575px) {
    #gellary .gellary-box .img-box {
        width: 100%;
        text-align: center;
    }
}
#gellary .gellary-box .img-box:hover {
    transform: scale(1.2);
}
@media (max-width: 575px) {
    #gellary .gellary-box .img-box:hover {
        transform: none;
    }
}
#gellary .gellary-box img {
    width: 200px;
    cursor: pointer;
}
@media (max-width: 575px) {
    #gellary .gellary-box img {
        width: 320px;
    }
}
.popup-img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    z-index: 1001;
    display: none;
}
.popup-img.open {
    display: block;
}
@media (max-width: 991px) {
    .pop-imgbox {
        max-width: 600px !important;
    }
}
@media (max-width: 575px) {
    .pop-imgbox {
        max-width: 350px !important;
    }
}
.overlay-popup {
    background-color: rgb(0 0 0 / 70%);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.overlay-popup.open {
    display: block;
}
.close-button{
    position: absolute;
    top: -19px;
    font-weight: bold;
    right: -1px;
    line-height: 1.2;
    background-color: red;
    color: white;
    width: 24px;
    height: 18px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
/* End Gellary */
/* Start Our Team */
#our-team {
    padding-bottom: 80px;
}
#our-team h2 {
    width: 100%;
    display: block;
    margin: 0;
    padding: 60px 0;
    text-align: center;
    color: var(--main-color);
    background-color: white;
    font-size: 30px;
    position: relative;
    z-index: 2;
}
#our-team .team-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
#our-team .team-content .team-box {
    background-color: #eee;
    margin-bottom: 10px;
    text-align: center;
    width: calc(100% / 4 - 40px);
    min-height: 400px;
    padding: 10px;
    position: relative;
    transition: 0.3s;
    z-index: 2;
}
@media (max-width: 1115px) {
    #our-team .team-content .team-box {
        width: calc(100% / 3 - 40px);
    }
}
@media (max-width: 991px) {
    #our-team .team-content .team-box {
        width: calc(100% / 2 - 40px);
    }
}
@media (max-width: 575px){
    #our-team .team-content .team-box {
        padding: 20px;
        margin: 0 auto;
        width: 250px;
    }
}
#our-team .team-content .team-box:hover {
    transform: scale(1.1);
}
@media (max-width: 575px) {
    #our-team .team-content .team-box:hover {
        transform: none;
    }
}
#our-team .team-content .team-box img {
    max-width: 200px;
    max-height: 250px;
}
#our-team .team-content .team-box h3 {
    margin: 15px auto 0;
    color: var(--main-color);
}
#our-team .team-content .team-box p {
    line-height: 1.5;
    color: #777;
    text-align: center;
    margin: 10px auto 0;
}
@media (max-width: 575px) {
    #our-team .team-content .team-box p {
        width: 200px;
        margin: 20px auto;
    }
}
#our-team .team-content .team-box ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    padding: 0;
    margin: 0;
    text-align: center;
}
#our-team .team-content .team-box ul li {
    display: inline-block;
}
#our-team .team-content .team-box ul li a {
    text-decoration: none;
}
#our-team .team-content .team-box ul li i {
    color: #666;
    margin-right: 10px;
    transition: .3s;
}
#our-team .team-content .team-box ul li i:hover {
    color: var(--main-color);
}

/* End Our Team */
/* Start Stats */
#stats {
    background-color: #eee;
    padding-bottom: 80px;
}
#stats h2 {
    width: 100%;
    display: block;
    margin: 0;
    padding: 60px 0;
    text-align: center;
    color: var(--main-color);
    font-size: 30px;
    position: relative;
    z-index: 2;
}
#stats .stats-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
#stats .stats-content .stats-box {
    background-color: white;
    text-align: center;
    width: calc(100% / 4 - 60px);
    padding: 20px;
    opacity: 0.8;
    transition: 0.3s;
    position: relative;
}
@media (max-width: 991px) {
    #stats .stats-content .stats-box {
        width: calc(100% / 3 - 60px);
    }
}
@media (max-width: 767px) {
    #stats .stats-content .stats-box {
        width: calc(100% / 2 - 60px);
    }
}
@media (max-width: 575px) {
    #stats .stats-content .stats-box {
        width: 50%;
    }
}
#stats .stats-content .stats-box:hover {
    opacity: 1;
}
#stats .stats-content .stats-box::before ,
#stats .stats-content .stats-box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 0.5s;
}
#stats .stats-content .stats-box::before {
    top: 0;
    left: 0;
}
#stats .stats-content .stats-box::after {
    bottom: 0;
    right: 0;
}
#stats .stats-content .stats-box:hover::before,
#stats .stats-content .stats-box:hover::after {
    height: 100%;
}
#stats .stats-content .stats-box i {
    margin-bottom: 10px;
}
#stats .stats-content .stats-box .number {
    display: block;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}
#stats .stats-content .stats-box .text {
    color: var(--main-color);
    font-style: italic;
    font-weight: bold;
}
/* End Stats */
/* Start Testimonials */
#testimonials {
    padding-bottom: 80px;
}
#testimonials h2 {
    width: 100%;
    display: block;
    margin: 0;
    padding: 60px 0;
    text-align: center;
    color: var(--main-color);
    font-size: 30px;
    position: relative;
    z-index: 2;
}
#testimonials .tes-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
@media (max-width: 575px) {
    #testimonials .tes-contents {
        gap: 20px;
    }
}
#testimonials .tes-contents .tes-box {
    width: calc(100% / 3 - 60px);
    background-color: #eee;
    position: relative;
    padding: 10px;
}
@media (max-width: 1115px) {
    #testimonials .tes-contents .tes-box {
        width: calc(100% / 2 - 50px);
    }
}
@media (max-width: 991px) {
    #testimonials .tes-contents .tes-box {
        width: calc(100% / 2 - 50px);
        text-align: center;
    }
}
@media (max-width: 575px) {
    #testimonials .tes-contents .tes-box {
        padding: 20px;
        text-align: center;
        margin: 0 auto;
        width: 300px;
    }
}
#testimonials .tes-contents .tes-box img {
    width: 80px;
    position: absolute;
    top: -44px;
    right: -44px;
    border-radius: 50%;
    border: 8px solid white;
}
@media (max-width: 575px) {
    #testimonials .tes-contents .tes-box img {
        position: unset;
    }
}
@media (max-width: 991px) {
    #testimonials .tes-contents .tes-box img {
        position: unset;
    }
}
#testimonials .tes-contents .tes-box p {
    color: #777;
    line-height: 1.6;
}
#testimonials .tes-contents .tes-box p:last-of-type {
    font-style: italic;
}
#testimonials .tes-contents .tes-box .stars i.fas {
    color: #ffc107;
}
/* End Testimonials */
/* Start Contact */
#contact-us {
    overflow: hidden;
    padding-bottom: 80px;
    /* background-color: #eee; */
    /* background-image: url(../imgs//Contact-02.jpg); */
    background-image: url(../imgs/Contact-03.jpg);
    /* background-image: url(../imgs/Contact-04.png); */
    /* background-image: url(../imgs/Contact-06.jpeg); */
    background-size: cover;
    /* background-repeat: no-repeat; */
}
@media (max-width: 575px) {
    #contact-us {
        background-color: #eee;
        background-image: none;
    }
}
@media (max-width: 575px) {
    #contact-us .box {
        float: none;
    }
}
#contact-us .box h2 {
    width: 100%;
    display: block;
    margin: 0;
    padding: 60px 0;
    text-align: center;
    color: var(--main-color);
    font-size: 30px;
    position: relative;
    z-index: 2;
}

#contact-us .box {
    text-align: center;
    float: none;
}
#contact-us .box h3{
    margin: 0 auto 20px;
    color: #333;
}
#contact-us .box a {
    color: var(--main-color);
    margin-right: 20px;
}
#contact-us .box p {
    color: #333;
    margin: 20px auto 0;
}
/* End Contact */
/* Start Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
/* End Footer */
